%h1 Peanuts

%header
= link_to "Sign up", new_user_registration_path 

%ul#products
%table
    - @products.each do |product|
        %tr{id: dom_id(product)} 
            %td= product.name
            %td= "#{product.price} SEK"
            %td= product.description
            %td= add_to_cart(product, 1, "Add to Cart")
