%h1 Peanuts

%header
= link_to "Sign up", new_user_registration_path 
= link_to "Log in", new_user_session_path

%ul#products
    - @products.each do |product|
        .div{id: dom_id(product)} 
            %li= product.name
            %li= "#{product.price} SEK"
            %li= product.description